@media only screen and (max-width: 1700px)
	/* Insert media queries for desktop - check 1664px */
	html
		font-size: 15px

@media only screen and (max-width: 1550px)
	/* Insert media queries for desktop - check 1504px */
	html
		font-size: 14px

@media only screen and (max-width: 1440px)
	/* Insert media queries for Macbook - check 1440px*/
	html
		font-size: 13px

@media only screen and (max-width: 1366px)
	html
		font-size: 12px

	header .header-main .main-navigation .headernav>li
		margin 0 8px

@media only screen and (max-width: 1280px)
	.ecom-banner .ecom-banner-txt
		top 61%

@media only screen and (max-width: 1199px)
	header .header-main #headernav > li
		margin 0 8px

	.ecom-cta a .ecom-cta-item img
		height: 220px

	.ecom-reminders ul li
		margin-right: 22px

	.ecom-reminders ul li i
		margin-right: 6px

	footer
		padding: 80px 0 64px

@media only screen and (max-width: 991px)
	#mega-menu-wrap-menu-1 .mega-menu-toggle.mega-menu-open + #mega-menu-menu-1
		top 55px
		
	html
		font-size: 11px

	h1
		font-size: 3rem

	.ecom-banner
		padding: 0

	.ecom-banner .ecom-banner-txt h1
		margin-bottom: 6px

	.b2-ip-banner canvas
		background-size: cover
		background-position: bottom right
		
	.home main#primary,
	body:not(.home) div#page
		padding: 10% 0 0 !important

	.b2-btt-toggle
		bottom: 90px

	section
		padding: 32px 0

	.b2-inner-content,
	main#primary
		max-width: 100% !important

	.b2-row
		display block

	.b2-row .b2-col
		width: 100% !important
		margin-bottom: 16px

	.b2-link
		font-size: 1.2rem

	form button,
	form input[type=submit]
		min-width: auto
		width 100%

	.b2-hp-banner .b2-hp-banner-slide-item > div
		text-align: center

	.b2-hp-banner .b2-hp-banner-slide-item p
		font-size: 12px

	.b2-hp-banner .b2-hp-banner-dots
		bottom: 18px

	.b2-blog-item
		text-align: center
		max-width: 480px
		margin: 0 auto

	.b2-about-template img
		max-width: 100%

	.ecom-cta
		max-width: 420px
		margin: 0 auto
		padding: 52px 15px 0

	footer .footer-top
	footer .b2-text-right
		text-align: center

	.footer-payment
		margin: 0 auto

	footer .footer-top .footer-logo
		margin: 32px auto

	footer .footer-top .b2-headline
		margin: 32px 0 12px

	footer .footer-sm
		margin-bottom: 32px

	footer .footer-bottom #footernav li
		display: block
		margin: 12px 0

	.ip-ecom-products .ip-ecom-products-list > li
		width 50%

	.page-template-template-product-details .b2-ip-banner
		display: none

	.ecom-pd-dets .ecom-pd-dets-gallery-main-slide-wrap .ecom-pd-dets-gallery-main-item img
		height 380px

	.ecom-pd-dets .ecom-pd-dets-gallery-thumb-slide-wrap .ecom-pd-dets-gallery-thumb-item img
		height 80px

	.ecom-pd-tab .ecom-pd-tab-panel .ecom-pd-reviews > li
		width 100%

	.ecom-banner .ecom-banner-txt
		top: 50%

	.ecom-banner .ecom-banner-txt
		text-align: center

	.ecom-banner .ecom-banner-txt a
		margin: 16px 8px 0

	.ecom-ftr
		padding: 62px 0
		text-align: center

	.ecom-ftr .ecom-ftr-txt p
		margin: 18px auto
	
	.ecom-ftr .ecom-ftr-txt .price
		margin: 16px auto 0

	.ecom-ftr canvas
		background-position: left center
		opacity: .5

	.ecom-categ .ecom-categ-item
		max-width: 230px
		margin: 0 auto 32px

	.ecom-categ
		padding: 62px 0

	.ecom-reminders canvas
		background-image: none !important
		background-color: #dfdce1

	.ecom-reminders ul li
		display: block
		text-align: center
		margin: 32px 0

	footer
		padding: 52px 0  32px

	ul.footer-smi
	ul.footer-links
		margin-bottom: 52px

	p.footer-copyright
		text-align: center

	footer .footer-bottom img
		margin: 0 auto

	.ecom-banner canvas
		filter: brightness(0.5)
		background-position: center right

	.ecom-pd-dets
		padding: 16px 0 32px

	.ecom-pd-bc
		margin-bottom: 36px