footer
	padding: 142px 0 64px
	background-color: dark-color

	.footer-top
		padding: 52px 0

		h4
			color: #fff
			font-weight: 400
			letter-spacing: 0.1em
			margin-bottom: 24px

		.footer-phone
			margin-block: 24px

			a
				font-size: 3.125rem
				font-weight: 700
				color: #fff

			p
				font-size: 1.25rem
				color: #F5B1AD

		.footer-smi
			li
				display: inline-block
				vertical-align: middle
				margin-right: 16px

				a
					font-size: 1.625rem
					color: #fff

		.footer-links
			li
				margin-bottom: 16px

				a
					font-size: 1.25rem
					color: #fff

		.footer-form
			padding: 50px 40px
			background-color: #fff
			border-radius: 16px

			h4
				color: dark-color
				text-align: center

			p
				font-size: 1.25rem
				color: dark-color
				text-align: center
				margin-bottom: 24px

			.footer-cf
				p
					margin: 0

				input[type=email]
					font-size: 1.25rem
					height: 72px
					border: 2px solid accent-color
					border-radius: 0

				.b2-link
					font-family: 'Lato',sans-serif;
					font-size: 1.25rem
					font-weight: 700
					width 100%
					min-width: auto
					border-radius: 0
					border: 2px solid accent-color

					&:hover
						color: accent-color
						background-color: #fff
				
	.footer-bottom
		.footer-copyright
			font-size: 1.25rem
			color: #F5B1AD

			a
				color: inherit

		img
			margin-left: auto

	p
		margin: 0
		
	ul
		margin: 0
		padding: 0
		list-style: none